Package: cli_wallet
Version: 0.1.0
Section: devel
Architecture: amd64
Pre-Depends: debconf (>= 1.1) | debconf-2.0
Depends: libcrypto++9v5, libcurl3 (>= 7.16.2)
Installed-Size: 703180
Maintainer: DCENT
Description: cli_wallet for DecentDaemon

